/* @charset "utf-8"; */

@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');
@import url('https://fonts.maateen.me/bangla/font.css');

/* other CSS statements */

.banner {
    background-image: url('./img/bg2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    font-family: 'CharukolaUltraLight', sans-serif;
    
}

