.mobile li{
padding: 1rem;
}
.mobile li:hover {
}

@media (max-width: 576px) { 
.mobile {
    position: absolute;
    background: var(--primary-color);
    top: 60px;
    left: -100vw;
    width: 80%;
    flex-direction: column;
    color: black!important;
    height:100vh;
    padding-top: 5rem;
    padding-left: 1rem;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 99;
}
.mobile.active {
    visibility: visible;
    left: 0;
}
.mobile li {
    background: #ffffff9e;
    width: 90%;
    font-size: 1.5rem;
    padding: 1.2rem;
    border-radius: 5px;

}
.mobile li:hover {
    background-color: var(--secondary-color);
    color: black;
}
.mobile li:first-child {
    background: none;
    padding: 0;

}
.mobile li:last-child {
    background-color: var(--secondary-color);
}
.mobile li:first-child:hover {
    background-color: none;
}


}